@import "tailwindcss";
@plugin "daisyui";

.navigation{
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: large;
}
/* .user-information{
  border: 1px solid white;
  padding: 10px;
  margin-top: 20px;
} */
